<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DatabaseModification</key>
	<real>791560687.52826297</real>
	<key>DatabaseName</key>
	<string>NotebookLM_Capstone</string>
	<key>DidScanItemLinks</key>
	<true/>
	<key>DidScanOldWikiLinks</key>
	<true/>
	<key>DidSetFinderComments</key>
	<true/>
	<key>DidUpdateFinderTags</key>
	<true/>
	<key>DidUpdateSpotlightTags</key>
	<true/>
	<key>EnableVersioning</key>
	<true/>
	<key>FSEventsStreamEventIdExternal</key>
	<integer>2238719693</integer>
	<key>FSEventsStreamEventIdInternal</key>
	<integer>2238719693</integer>
	<key>InheritTagsOfGroups</key>
	<true/>
	<key>LastBackup</key>
	<date>2026-01-31T13:58:07Z</date>
	<key>PropertyModification</key>
	<date>2026-01-31T13:58:49Z</date>
	<key>Spotlight</key>
	<true/>
	<key>UseUUIDKey</key>
	<true/>
	<key>isOpen</key>
	<true/>
	<key>uniqueId</key>
	<string>64A3C75C514945988BBFF8C94148CCFC</string>
	<key>user</key>
	<string>jonathanrocha</string>
</dict>
</plist>
